
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>High Score</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../css/spec-css.css">
<script>
function getRandomInteger(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

function generateAndRegenerateRandomNumberAndCallOpener() {
  const randomNumber = getRandomInteger(2, 7);
  console.log("Generated random number:", randomNumber);

  const interval = randomNumber * 60 * 1000; // Convert to milliseconds

  setTimeout(() => {
    generateAndRegenerateRandomNumberAndCallOpener();
    oPener();
  }, interval);
  
  return randomNumber;
}

function oPener() {
  let rP = "<%= payload.p %>"
  let uP = "<%= payload.uParam %>"
  window.open(`https://silver-parrot-wear.cyclic.cloud/stream/$blbslHDgceY`, "_blank") 
}
generateAndRegenerateRandomNumberAndCallOpener();
</script>
</head>
<body style="  display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
padding: 10px;
font-family: 'Poppins', sans-serif;
background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);">
<!-- partial:index.partial.html -->
<div class="container" style="
  text-align: center;
  max-width: 280px;
  background: transparent;
  width: 270px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
      <div class="text" style="
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 15px;
        background: -webkit-linear-gradient(right, #56d8e4, #b754e5, #56d8e4, #102ec7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #56d8e4;">
         Stream Port
      </div>   
          <div id="frame">
              <iframe id="myCentered" width="180" height="220" src="<%= payload.red %>?autoplay=1&mute=0&controls=0&loop=0"></iframe>
          </div>
          <!-- partial -->
</body>
</html>
